ul{
    list-style-type:none;
    display: flex;
    justify-content: center;
    height: 44px;
    align-items: center;
    background-color: black;
    color: white;
}
li{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: 300;
}
li:first-child{

}
